<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am a 3rd year Mechanical Engineering student at Florida Polytechnic University. On a high level my passions revolve around supporting 
		  the creation of products and solutions that are elegant, functional, failure resistant and efficent. I am active on campus through my 
		  positions as a Presidential Ambassador, Fall Freshman Orientation Leader, and Student Representative for the Office of Public Policy Events (OPPE), 
		  </p>
      </div>
      <div class="col-lg-4">
        <p> Note: at this time, I am using the template from Matthew Decicco, I DO NOT understant HTML at this time, I am working to replace his info with mine, but alas, I know about mechanics
          and sensors, not how to repuepose websides, I cannot reccomend myself for website design lol </p>
      </div>
      
    </div>
  </div>
</section>
